Django==1.4.22
PyYAML==3.11
South==0.7.6
amqp==1.4.5
anyjson==0.3.3
argh==0.24.1
argparse==1.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.20
celery==3.1.18
distribute==0.6.43
django-appconf==0.5
django-celery==3.1.10
django-celery-with-mongodb==3.0
django-compressor==1.1.2
django-mongokit==0.2.3
django-password-reset==0.7
django-supervisor==0.3.2
httplib2==0.7.4
importlib==1.0.3
iniparse==0.3.1
kombu==3.0.28
meld3==1.0.0
mongokit==0.8.3
ordereddict==1.1
pathtools==0.1.2
pycurl==7.19.0
pygpgme==0.1
pymongo==2.7.2
python-dateutil==1.5
python-ldap==2.3.10
pytz==2015.7
simplejson==2.0.9
supervisor==3.1.2
urlgrabber==3.9.1
virtualenv==1.9.1
watchdog==0.7.1
xlrd==0.8.0
xlwt==0.7.4
yum-metadata-parser==1.1.2
