#KEC1.5.0b

Django==1.4
South==0.7.6
amqp==1.4.5
anyjson==0.3.3
beautifulsoup4==4.3.2
# for celery
django-appconf==0.5
django-celery==3.1.10
django-celery-with-mongodb
django-compressor==1.1.2
django-mongokit==0.2.3
django-supervisor>=0.3.2
django-password-reset==0.7
httplib2==0.7.4
iniparse==0.3.1
mongokit==0.8.3
#newrelic==1.5.0.103
ordereddict==1.1
pymongo==2.7.2
python-dateutil==1.5
#python-ldap
simplejson==2.0.9
xlrd==0.8.0
xlwt==0.7.4
#yum-metadata-parser==1.1.2
django-extensions==1.5.6
testfixtures==4.2.0